.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  text-align: center;
  background-repeat: no-repeat;
  background-color: hsla(199, 30%, 60%, 1);
  min-height: 150px;
  display: grid;
  ;
  
  align-items: center;
  justify-content: left, space-around;
  font-size: calc(10px + 2vmin);
  
  list-style: none;

}

.App-link {
  color: #61dafb;
}
.main {
 
  background-color: black;

}

.poke-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: white;
}

.poke-image {
  width: 150px;
  height: 150px;
 
}
html {
  background-color: black;
}

p {
  color:white;
  text-decoration: none;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
